@charset "uft-8";
/* 도깨비 메인 css - main.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html,
body {
    margin-top: 50px;
    padding: 0;
    /* 초기화 */
}

/**************************** 공통 class *******************************/

/* 스크롤바 트랙 디자인 변경 class */
/* -webkit- 벤더사명(크롬, 사파리) 접두어 */
.scbar::-webkit-scrollbar {
    /* 전체 스크롤바 크기변경 */
    width: 5px;
}

.scbar::-webkit-scrollbar-thumb {
    /* 스크롤바 */
    background-color: #666;
    border-radius: 5px;
}

.scbar::-webkit-scrollbar-track {
    /* 스크롤바 트랙 */
    background-color: #ccc;
    border-radius: 5px;
}

/* 리스트초기화 */
ul,
ol {
    /* 3無 */
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 가상요소 clear */
ul::after,
ol::after {
    content: '';
    display: block;
    clear: both;
}

/* 리스트 옆으로 흐르게 */
li {
    float: left;
}

/****************** 1.상단영역 *********************/
.top {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    min-height: 100px;
    background-color: #fffa;
    border-bottom: 1px solid #ccc;
}

/* 1-2. GNB메뉴 */
.gnb {
    width: 100%;
    margin: 0 auto;
    /* 마영오! */
}

.gnb>ul>li {
    padding: 0 34px;
    /* 양쪽을 동일하게 밀고 사이간격은 34px */
}

/* gnb a요소 공통 */
.gnb a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    line-height: 54px;

    font-family: 'Nanum Gothic', sans-serif;
}

.gnb>ul>li:hover>a {
    border-bottom: 4px solid #000;
}

/* 모바일용 햄버거 버튼 */
.ham {
    position: absolute;
    top: 5px;
    right: 10px;

    width: 50px;
    height: 70px;
    font-size: 40px;

    /* 버튼 기본 보더, 배경색 없애기 */
    border: none;
    background-color: transparent;

    display: none;
    /* 처음에 안보임 */
}

/**************************** 컨텐츠영역 *******************************/
.cont {
    background: url(../img/bg.jpg) no-repeat;
    background-size: 100% 100%;
    min-height: 1600px;
    z-index: 9999;
}

/* 2-1.캐릭터 박스 */
#cbx {
    position: relative;
    top: 50px;
    /* 원래 위치로 부터 400px */
    width: 90%;
    height: 1500px;
    margin: 0 auto;
    outline: 3px dotted yellow
}

/* 가상요소로 부모 박스 clear:both만들기 */
#cbx::after {
    content: '';
    display: block;
    clear: both;
}

/* 캐릭터 박스 공통 */
.cat {
    width: 100%;
    /* 2등분 */
    height: 50%;

    padding: 10px;
    box-sizing: border-box;
    /* 패딩때문에 박스가 커지지 않게 패딩을 내부로 포함 */

    /* block박스는 옆에 다른요소가 못옴
    float속성으로 옆으로 흘러가게 해준다! */
    float: left;
    /* 나는 왼쪽에 있고 아랫쪽 요소는 오른쪽으로 흘러가라 */

    outline: 5px dashed black;

    transition: margin-top .6s ease-out;
}

/* 캐릭터 이미지 */
.ci>img {
    /* 직계자식(>)이미지만 선택! */
    display: none;
    /* 이미지의 height는 자동(비율유지) */
    outline: dotted red;
}

/* 캐릭터 이름 */
.ci span {
    display: block;
    /* 블록으로 변경 */
    text-align: center;
    /* 내용 인라인요소 가로중앙 */
    margin-top: -25%;
    /* 비율로 이미지가 변됭되므로
    마진도 상대적으로 변경되게함 */
}

/* 캐릭터 이름 이미지 */
.ci span img {
    width: 40%;
}

/* 캐릭터 이름 첫번째 이미지 숨기기 */
.ci span img:first-child {
    display: none;
}

/* 캐릭터 설명박스 */
.cd {
    height: 0;
    /* .cat에 오버시 250px로 변경 */
    overflow-y: scroll;
    /* 스크롤 y축만 생성, 넘치는 자식요소 보이기 */
    border-radius: 5px 0px 0px 5px;
    /* 둥근모서리: 왼위 오른위 오른아래 왼아래 */

    margin-top: 10px;

    /* 트랜지션: 속시이지 */
    transition: height .6s ease-out;
}

div .cat:hover .cd {
    position: absolute;
        width: 50%;
        height: 45%;
        background-color: #fffa;
        margin-top: 2%;
}

/* 캐릭터 설명 타이틀 */
.cd h3 {
    font-family: 'Nanum Brush Script';
    font-size: 24px;
    font-weight: normal;
    padding: 5px 10px 0px;
    /* 패딩: 위 양쪽 아래 */
}

/* 캐릭터 설명 문단 */
.cd p {
    font-family: 'Hi Melody';
    font-size: 20px;
    line-height: 1.7;
    padding: 10px;
    /* 패딩: 4방향 */
    text-align: justify;
    /* 양쪽정렬 */
}

/***************************** 하단영역 ********************************/
.info {
    font-family: 'Nanum Gothic', sans-serif;
    /* min-height: 240px; */
    background-color: #fffa;
    /* 반투명 배경색(알파값이 투명도) */
    padding: 15px;
}

/* 하단링크 */
ul.bmenu {
    max-width: 720px;
    /* 최대width로 잡으면 최대 720px 보다 부모가 큰
    경우 720px을 유지하다가 이것 보다 작아지면 auto로
    전환한다! */
    margin: 0 auto;
    /* 마영오! 가로중앙 */
    z-index: 1;
}

.bmenu a {
    color: #222;
    /* 글자색 */
    text-decoration: none;
    /*  밑줄없앰 */
    font-weight: bold;
    /* 글자두껍게 */
    font-size: 14px;
    /* 글자크기 */
    line-height: 2;
    /* 줄간격 */
    margin: 0 5px;
    /* 양쪽마진 */
}

/* 오버시 */
.bmenu a:hover {
    color: #000;
    text-decoration: underline;
}

/* 주소박스 */
.info address {
    max-width: 720px;

    margin: 20px auto;
    /* 마진: 위아래 앙쪽 */
    font-style: normal;
    /* address요소는 기본 이탤릭체임. 이것을 해체 */
    font-size: 12px;
    line-height: 2;
    text-align: center;

    border: 2px double #555;
    padding: 10px 0;
    /* 패딩: 위아래 양쪽 */
}