@charset "uft-8";
/* 도깨비 메인 css - main.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html,
body {
    margin-top: 50px;
    padding: 0;
    /* 초기화 */
}

/**************************** 공통 class *******************************/
/* 리스트초기화 */
ul,ol {
    /* 3無 */
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 가상요소 clear */
ul::after,
ol::after {
    content: '';
    display: block;
    clear: both;
}

/* 리스트 옆으로 흐르게 */
li {
    float: left;
}

/****************** 1.상단영역 *********************/
.top {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    min-height: 100px;
    background-color: #fffa;
    border-bottom: 1px solid #ccc;
    z-index: 1;
}

/* 1-2. GNB메뉴 */
.gnb {
    width: 100%;
    margin: 0 auto;
    /* 마영오! */
}

.gnb>ul>li {
    padding: 0 34px;
    /* 양쪽을 동일하게 밀고 사이간격은 34px */
}

/* gnb a요소 공통 */
.gnb a {
    font-size: 2vw;
    color: #000;
    text-decoration: none;
    line-height: 54px;
    font-family: 'Nanum Gothic', sans-serif;
    z-index: 9999;
}

.gnb>ul>li:hover>a {
    border-bottom: 4px solid #000;
}

/**************************** 컨텐츠영역 *******************************/
.cont {
    background: url(../img/bg.jpg) no-repeat;
    background-size: 100% 100%;
    min-height: 1600px;
}

/* 2-1.캐릭터 박스 */
#cbx {
    position: relative;
    top: 50px;
    /* 원래 위치로 부터 400px */
    width: 90%;
    height: 1500px;
    margin: 0 auto;
}

/* 가상요소로 부모 박스 clear:both만들기 */
#cbx::after {
    content: '';
    display: block;
    clear: both;
}

/* 캐릭터 박스 공통 */
.cat {
    position: relative;
    width: 100%;
    /* 2등분 */
    height: 50%;
    margin-top: -3%;
    padding: 10px;
    box-sizing: border-box;
    /* 패딩때문에 박스가 커지지 않게 패딩을 내부로 포함 */

    /* block박스는 옆에 다른요소가 못옴
    float속성으로 옆으로 흘러가게 해준다! */
    float: left;
    /* 나는 왼쪽에 있고 아랫쪽 요소는 오른쪽으로 흘러가라 */


    transition: margin-top .6s ease-in-out;
}

/* 캐릭터 이름 */
.ci span {
    display: block;
    /* 블록으로 변경 */
    text-align: center;
    /* 내용 인라인요소 가로중앙 */
    margin-top: -25%;
    /* 비율로 이미지가 변됭되므로
    마진도 상대적으로 변경되게함 */
}

/* 캐릭터 설명박스 */
.cat .cd {
    position: absolute;
    height: 0;
    overflow: hidden;
    /* .cat에 오버시 250px로 변경 */
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    padding: 10px;
    /* 트랜지션: 속시이지 */
    transition: height .3s ease-out;
}

div.cat:hover .cd {
    display: inline;
    position: absolute;
    width: 25%;
    height: 50%;
    background-color: #fffa;
}

/* 캐릭터 설명 타이틀 */
.cd h3 {
    font-family: 'Nanum Brush Script';
    font-size: 24px;
    font-weight: normal;
    padding: 5px 10px 0px;
}

/* 캐릭터 설명 문단 */
.cd {
    height: 0;
    font-family: 'Hi Melody';
    font-size: 20px;
    line-height: 1.7;
    padding: 10px;
}

/*****************************하단영역********************************/
.info {
    font-family: 'Nanum Gothic', sans-serif;
    /* min-height: 240px; */
    background-color: #fffa;
    /* 반투명 배경색(알파값이 투명도) */
    padding: 15px;
}

/* 하단링크 */
ul.bmenu {
    max-width: 720px;
    /* 최대width로 잡으면 최대 720px 보다 부모가 큰
    경우 720px을 유지하다가 이것 보다 작아지면 auto로
    전환한다! */
    margin: 0 auto;
    /* 마영오! 가로중앙 */
    z-index: 1;
}

.bmenu a {
    color: #222;
    /* 글자색 */
    text-decoration: none;
    /*  밑줄없앰 */
    font-weight: bold;
    /* 글자두껍게 */
    font-size: 14px;
    /* 글자크기 */
    line-height: 2;
    /* 줄간격 */
    margin: 0 5px;
    /* 양쪽마진 */
}

/* 오버시 */
.bmenu a:hover {
    color: #000;
    text-decoration: underline;
}

/* 주소박스 */
.info address {
    max-width: 720px;

    margin: 20px auto;
    /* 마진: 위아래 앙쪽 */
    font-style: normal;
    /* address요소는 기본 이탤릭체임. 이것을 해체 */
    font-size: 12px;
    line-height: 2;
    text-align: center;

    border: 2px double #555;
    padding: 10px 0;
    /* 패딩: 위아래 양쪽 */
}