@charset "utf-8";
a,body,div{
    margin: 0;
    padding: 0;
}

body{
    background-color:tomato;
}

a{
    text-decoration: none;
}

nav.bx.navb {
    position: absolute;
    top: 17px;
}

h2.menu1 {
    position: absolute;
}

.bx {
    border: 1px dotted mintcream;
}

.bx.hb {
    position: absolute;
    line-height: 50%;
    left: 45%;
}

.bx.cb {
    position: absolute;
    width: 100%;
    top: 10%;

}

.bx.fb {
    position: absolute;
    bottom: 0;
    width: 100%;
}
