@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');
/* font-family: 'Lemonada', cursive; */


html, body, h1{
    margin: 0;
    padding: 0;
    height: 100%;
}

ol,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
   text-decoration: none;
}

.ff{
font-family: 'Lemonada', cursive;
}

.fbx {
    display:flex;
}