@charset "utf-8";
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
/* font-family: 'Dongle', sans-serif; */

/* 공사중 */
/* body * {
    outline: 3px dotted yellow; 
} */
html,
body,
h1 {
    margin: 0;
    padding: 0;
    height: 100%;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.fbx {
    display: flex;
}

.part {
    width: 95%;
    margin: 0 auto;
}

.rbx {
    position: relative;
}

.rbx::before {
    content: '';
    display: block;
}