@charset "utf-8";
@import url(./common.css);

/* body * {
    outline: 3px dotted yellow; 
} */

body {
    position: relative;
    background-color: mediumaquamarine;
}

/* 상단영역 */
#top {
    height: 80px;
    text-align: center;
    font-size: 20px;
    line-height: 2;
    font-family: 'Dongle', sans-serif;

}

/* 컨텐츠 영역 */
#cont {
    background: url(../img/bg.jpg);
    background-size: 100vw 100vh;
    height: 84vh;
}



/* 티비 스크린 */
.screen {
    position: absolute;
    top: 28vh;
    left: 41vw;
    width: 32vw;
    height: 27.5vh;
    border-radius: 5%;
    object-fit: cover;
    border: 2px solid #662913;
}

#ifr {
    position: absolute;
    /* 부모 - .screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

#into {
    height: 80px;
}

.ch {
    position: absolute;
    /* 부모 =  .cont */
    /* outline: 1px solid red; */
    cursor: pointer;
    z-index: 99;

}

.ch1 {
    width: 1.7vw;
    height: 1vh;
    left: 34vw;
    bottom: 18.5vh;
}

.ch2 {
    width: 1.7vw;
    height: 1vh;
    left: 36.3vw;
    bottom: 18.25vh;
}

.ch3 {
    width: 1.5vw;
    height: 1vh;
    left: 39vw;
    bottom: 18vh;
}

.ch4 {
    width: 1.6vw;
    height: 1vh;
    left: 32.2vw;
    bottom: 17.25vh;
}

.ch5 {
    width: 1.6vw;
    height: 1vh;
    left: 34.5vw;
    bottom: 17vh;
}

.ch6 {
    width: 1.7vw;
    height: 1vh;
    left: 37.1vw;
    bottom: 16.7vh;
}

.aside {
    position: absolute;
    width: 15vw;
    height: 11vh;
    left: 29vw;
    bottom: 10vh;
    /* outline: 3px solid green; */
}

.aside:hover .thund {
    width: 35vw;
    transition-delay: .5s;
    animation: thundAni .1s linear infinite alternate;
}

@keyframes thundAni {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.1;
    }
}

.thund {
    position: absolute;
    top: -61vh;
    left: 17.2vw;
    width: 0/*34*/vw;
    height: 3vh;
    border-radius: 50%;
    background-color: gold;
    transition: width .3s linear;
}



