@charset "utf-8";
@import url(./common.css);



/********************* 상단영역 *********************/
#top {
    height: 80px;
    font-size: 20px;
    line-height: 2;
    text-align: center;
    font-family: 'Dongle', sans-serif;
    text-shadow: 10px 10px 15px red;
}

/******************** 컨텐츠 영역 ********************/
body {
    position: relative;
    background-color: aqua;

}

#cont {
    height: 84vh;
    border-radius: 1%;
    background: url(../img/bg.jpg);
    background-size: 100vw 100vh;
}

/* 티비 스크린 */
.screen {
    position: absolute;
    /* 부모 - .cont */
    top: 27.5vh;
    left: 41vw;
    width: 32vw;
    height: 27vh;
    border-radius: 5%;
}

/* 아이프레임 */
#ifr {
    position: absolute;
    /* 부모 - .screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border: 5px solid #662913;
}

/* 채널버튼 공통 */
.ch {
    position: absolute;
    /* 부모 =  .cont */
    cursor: pointer;
    z-index: 99;
}

/* 채널1 */
.ch1 {
    width: 1.7vw;
    height: 1vh;
    left: 34vw;
    bottom: 18.5vh;
}

/* 채널2 */
.ch2 {
    width: 1.7vw;
    height: 1vh;
    left: 36.3vw;
    bottom: 18.25vh;
}

/* 채널3 */
.ch3 {
    width: 1.5vw;
    height: 1vh;
    left: 39vw;
    bottom: 18vh;
}

/* 채널4 */
.ch4 {
    width: 1.6vw;
    height: 1vh;
    left: 32.2vw;
    bottom: 17.25vh;
}

/* 채널5 */
.ch5 {
    width: 1.6vw;
    height: 1vh;
    left: 34.5vw;
    bottom: 17vh;
}

/* 채널6 */
.ch6 {
    width: 1.7vw;
    height: 1vh;
    left: 37.1vw;
    bottom: 16.7vh;
}

/* 진짜 리모콘 */
.remocon {
    position: absolute;
    width: 15vw;
    height: 11vh;
    left: 29vw;
    bottom: 10vh;
}

/* 리모콘 호버시 안테나 */
.remocon:hover .thund {
    width: 35vw;
    transition-delay: .5s;
    animation: thundAni .1s linear infinite alternate;
}

/* 번쩍번쩍 애니 ☝ */
@keyframes thundAni {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.1;
    }
}

/* 번쩍번쩍 */
.thund {
    position: absolute;
    top: -61vh;
    left: 17.2vw;
    width: 0vw;        
    height: 3vh;
    border-radius: 50%;
    background-color: gold;
    transition: width .3s linear;
}


/******************** 하단 영역 ********************/
#into{
    position: relative;
    height: 80px;
}

/* 3-2.sns 버튼 */
.sns {
    position: absolute;
    top: 20px;
    right: 20px;
    /* 부모는? #info */
}

/* sns a 요소 확장 */
.sns a {
    display: block;
    width: 100%;
    height: 100%;
}

/* sns li 박스 */
.sns li {

    margin: 0px auto;
    width: 34px;
    height: 34px;
    /* 배경이미지 넣기(sprites) */
    background: url(../img/sprites_logo.png) no-repeat;
}

/* 페이스북 */
.sns li:first-child {
    background-position: -509px -429px;
}

/* 인스타그램 */
.sns li:nth-child(2) {
    background-position: -551px -429px;
}

/* 페이스북 */
.sns li:last-child {
    background-position: -593px -429px;
}

