@charset "utf-8";
@import url(/pp/css/common.css);
body {
  position: relative;
  height: 3000px;
  background-color: #cdc6be
}

.back {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100px;
  height: 25px;
  text-align: center;
  background-color: #cdc6be;
  border-radius: 5%;
  outline: 1px solid red;
}

.bg {
  width: 100%;
    padding-top: 20%;
    background: url(/pp/img/22.png) center/cover no-repeat;
    background-color:#cdc6be
}

.cont {
  width: 100%;
  height: 100%;
}

.effect {
  position: relative;
  top: 0;
  width: 101%;
  height: 300px;
}
.cbox{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 300px;
  bottom: 60vh;
  background-color: #cdc6be;;
  clip-path:  
  polygon(0% 100%, 0% 60%, 1% 71%, 2% 75%, 3% 77%, 4% 78%, 4% 78%, 5% 79%, 6% 79%, 7% 78%, 8% 77%, 9% 77%, 10% 77%, 11% 77%, 12% 77%, 13% 75%, 14% 74%, 15% 73%, 16% 72%, 17% 72%, 18% 71%, 19% 69%, 20% 66%, 21% 63%, 22% 59%, 23% 54%, 24% 51%, 25% 51%, 26% 49%, 27% 49%, 28% 51%, 29% 50%, 30% 48%, 31% 45%, 32% 43%, 33% 43%, 34% 45%, 35% 43%, 36% 43%, 37% 44%, 38% 44%, 39% 42%, 40% 39%, 41% 35%, 42% 34%, 43% 33%, 44% 27%, 45% 26%, 46% 23%, 47% 21%, 48% 19%, 49% 17%, 50% 16%, 51% 16%, 52% 15%, 53% 16%, 54% 13%, 55% 12%, 57% 13%, 58% 12%, 59% 12%, 60% 13%, 61% 14%, 62% 17%, 63% 17%, 64% 22%, 65% 23%, 66% 27%, 67% 29%, 68% 32%, 69% 36%, 70% 38%, 71% 40%, 72% 42%, 73% 44%, 74% 46%, 75% 48%, 76% 50%, 77% 52%, 78% 54%, 79% 54%, 80% 56%, 81% 56%, 82% 59%, 83% 60%, 84% 57%, 85% 58%, 86% 59%, 87% 60%, 88% 61%, 89% 63%, 90% 64%, 91% 65%, 92% 67%, 93% 69%, 94% 70%, 95% 71%, 96% 72%, 97% 72%, 99% 70%, 100% 67%, 100% 40%, 100% 100%);

}
.cbg{
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background:url(/pp/img/effect.png) no-repeat center/100%;
}
