@charset "utf-8";

@import url(mCommon.css);

body * {
    outline: 1px dotted red;
    /* 아웃라인 표시 */
}

body {
    height: 200vh;
    /* 스크롤 생성을 위해 임시 */
}

#top {
    position: relative;
    height: 100px;
    text-align: center;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: oldlace;
    font-size: 2.5vw;
    text-align: center;
    z-index: 1;
}

.tit {
    position: absolute;
    top: 30px;
    margin-left: 47%;
}

.com {
    position: absolute;
    margin: 0 50px;
    top: 30px;
    left: 0;
}

.ham {
    position: absolute;
    margin: 0 50px;
    top: 30px;
    right: 0;

}
.smenu ul {
    text-align: center;
    font-size: 8.3vw;
    line-height: 2;
    background-color: #000;
    /* display: none; */

    /* 햄버거 버튼을 만든이후
    display:none; 지울 예정 */
}

.smenu>ul>li>a {
    color: #fff;
}