@charset "utf-8";
@import url(./common.css);
/******************************** manu  ******************************* */

#back {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100px;
  height: 25px;
  text-align: center;
  background-color: #cdc6be;
  border-radius: 5%;
  z-index: 999;
}

body {
  background: url(../img/mm.png);
}

.set {
  position: relative;
  font-size: 2vh;
  text-align: center;
}

.img {
  position: absolute;
  top: 500px;
  width: 100%;
  height: 30%;
  background: url(../img/sss.jpg)no-repeat center;
  display: none;
}

.bb {
  position: relative;
  margin-left: 50%;
  width: 43%;
  height: 100%;
}

.bb:hover .img {
  display: block;
}