@charset "utf-8";
@import url(common.css);

@media only screen and (max-width:800px) {
  /* header .mdn {
    display: none;
  }

  .ibx .mdn {
    display: none;
  } */

.mdn { /* 미디어 쿼리에서 dn */
  display: none;
}

.bx1:nth-child(1) .img {
width: 45vw;
}

.bx1:nth-child(2) .img {
width: 45vw;
}

div.ibx2 .bx{
height: 100%;
}

}