@charset "utf-8";
@import url(common.css);
@import url(navCell.css);

/******************************** manu  ******************************* */

#top.on .nav :nth-child(1):hover {
    text-decoration: line-through tomato;
    filter: drop-shadow(2px 4px 6px black);
    transition: text-decoration .5s ease-in;
}

#top.on .nav :nth-child(2) {
    text-decoration: line-through tomato;
    filter: brightness(50%);
}

#top.on .nav :nth-child(3):hover {
    text-decoration: line-through tomato;
    transition: text-decoration .5s ease-in;
}

/******************************** manu  ******************************* */

/********************************cont  */
.list {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-left: 102px;
}

.ibx {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
}

.img1 {
    position: absolute;
    width: 0vw;
    right: 100px;
    height: 100%;
    background: url(/pp/img/pj.jpg) no-repeat 100%/100%;
    transform: rotate(180deg);
}

.bx1 {
    position: absolute;
    right: 0;
    height: 100%;
    text-align: center;
    font-size: 50px;
    writing-mode: vertical-lr;
    color: #cdc6be;
    background-color: #1d1d1b;
}



.img2 {
    position: absolute;
    top: 0px;
    width: 31vw;
    right: 100px;
    height: 100%;
    background: url(/pp/img/pj.jpg) no-repeat 100%/100%;
    transform: rotate(180deg);
}

.bx2 {
    position: absolute;
    right: 5.4%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    writing-mode: vertical-lr;
    color: #cdc6be;
    background-color: #1d1d1b;
}

.img3 {
    position: absolute;
    top: 0px;
    width: 31vw;
    right: 100px;
    height: 100%;
    background: url(/pp/img/pj.jpg) no-repeat 100%/100%;
    transform: rotate(180deg);
}

.bx3 {
    position: absolute;
    right: 10.8%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    writing-mode: vertical-lr;
    color: #cdc6be;
    background-color: #1d1d1b;
}

.ang {
    transform: rotate(180deg);
}