@charset "utf-8";
@import url(./common.css);

body {
    background-color: #cdc6be;
}

/********************************** 컨텐츠 영역 **********************************/

/************************************* ibx1 *************************************/
#top.on .nav :nth-child(1) {
    text-decoration: line-through tomato;
}

#top.on .nav :nth-child(2):hover {
    text-decoration: line-through tomato;
    transition: text-decoration .5s ease-in;
}

#top.on .nav :nth-child(3):hover {
    text-decoration: line-through tomato;
    transition: text-decoration .5s ease-in;
}

#cont {
    padding-top: 150px;
}

div.ibx1 {
    flex-direction: row;
    justify-content: space-around;
}

.bx1:nth-child(1) .img {
    outline: 5px dotted red;

    width: 25vw;
    height: 20vh;
    background: url(#) center;
    background-repeat: no-repeat;
}

.bx1:nth-child(2) .img {
    outline: 5px dotted orange;

    width: 25vw;
    height: 20vh;
    background: url(#) center;
    background-repeat: no-repeat;

    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

.bx1:nth-child(3) .img {
    outline: 5px dotted green;

    width: 25vw;
    height: 20vh;
    background: url(#) center;
    background-repeat: no-repeat;
}

/********************** bar1 **********************/
.bar1 {
    padding: 5vh 0;
}

.bar1>h1 {
    height: 100%;
    font-size: 18vw;
    color: #cdc6be;
    text-align-last: left;
    background-color: #1d1d1b;
}

/************************************* ibx2 *************************************/
.ibx2>div {
    height: 1000px;
    /* outline: 5px solid #000; */
}

.ibx2>div:nth-child(1) {
    width: 30.5%;
    padding-right: 3vw;
    border-right: 1px solid #666;
    /* outline: 5px solid #000; */
}

.ibx2>div:nth-child(2) {
    width: 64.5vw;
    padding-left: 3.5vw;
    /* outline: 1px solid blue; */
}

div.ibx2 .img1 {
    height: 49.5%;
    outline: 5px solid yellow;
}

div.ibx2 .img2 {
    margin: 0 auto;
    height: 56.5%;
    outline: 5px solid yellow;
}

/********************** bar2 **********************/
.bar2 h1 {
    width: 70%;
    font-size: 11vw;
    color: #cdc6be;
    background-color: #1d1d1b;
}

.bar2 div.img {
    margin: 2vw 0 2vw 5vw;
    width: 20%;
    outline: 5px solid yellow;
}

.bx2>h2 {
    font-size: 2vw;
    line-height: 1.5;
}

/************************************* ibx3 *************************************/
.ibx3 {
    margin: 3vw 0;
    /* outline: 5px solid #000; */
}

/********************** ibx left **********************/
.left {
    width: 65.5%;
    height: 30vh;
}

.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left>.box {
    padding-left: 3vw;
    width: 45%;
    height: 30vh;
    border-left: 1px solid #666;
}

.left .img1 {
    width: 100%;
    height: 60%;
    outline: 5px solid yellow;
}

.left>.img2 {
    width: 100%;
    height: 200%;
    outline: 5px solid yellow;

}

.bx3 {
    width: 41%;
    height: 100%;
}

.bx3 :nth-child(1) {
    width: 100%;
    height: 25%;
}

.bx3 :nth-child(2) {
    width: 100%;
    height: 54%;
    /* outline: 1px dotted #000; */
}

.bx3 :nth-child(3) {
    height: 21%;
    /* outline: 1px dotted #000; */
}

/********************** ibx right **********************/
.right {
    width: 25.5%;
    height: 90vh;
    padding-left: 3vw;
    border-left: 1px solid #666;

}

.circle {
    text-align: center;
    border-radius: 50%;
    outline: 5px dotted red;
}

/************************************* ibx4 *************************************/
div.ibx4 {
    padding: 2vw;
    justify-content: space-evenly;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.ibx4 .img {
    width: 7vw;
    height: 100%;
    outline: 5px solid yellow;
}

.bx h2 {
    width: 14vw;
}


/* ibx5 */
.ibx5 div {
    margin-top: 3vw;
    width: 100%;
    height: 1000px;
    outline: 5px solid gray;
}

footer {
    padding: 3vw 2vw 2vw;
}

.mbx {
    font-size: 6vw;
    line-height: 8vw;
    padding: 2vw;
    justify-content: space-evenly;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.rog {
    padding: 3vw 0;
}

.into {
    margin-top: 2vw;
    justify-content: space-between;
}

footer .img {
    width: 10%;
    height: 43px;
    outline: 5px dotted red;
}