@charset "utf-8";
@import url(./common.css);

body {    
    background-color: #cdc6be;
}

body header{
    margin: 0 0 2vw 0;
}

header{
    padding: 1.7vh;
    border-bottom: 1px solid #666;
}

h1 {
    font-size: 25vh;
    line-height: 50vh;
    color: #cdc6be;
    text-align: center;
    background-color: #1d1d1b;
}

header.fbx {
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
}

div.ibx1.fbx {
    width: 100%;
    height: 37vh;
    flex-direction: row;
    justify-content: space-around;
}

div.ibx2.fbx {
height: 100px;
}

.ibx1 .img {
    width: 13vw;
    height: 20vh;
    background: url(#) center;
    background-repeat: no-repeat;
    background-size:contain;
    border: 1px solid #000;
}

div.ibx2 .img {
    width: 13vw;
    height: 10vh;
    background: url(#) center;
    background-repeat: no-repeat;
    background-size:contain;
    border: 1px solid #000;
}

