@charset "utf-8";
@import url(./common.css);

#cont {
    height: 11111px;
}

body {
    background-color: #cdc6be;
}

/* 상단 */
body header {
    margin: 0 0 2vw 0;
}

header {
    width: 100wv;
    line-height: 4.8vw;
    padding: 1.7vh;
    border-bottom: 1px solid #666;
}

header.fbx {
    position: relative;
    /* display: none; */
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}

.bar1{
    padding: 5vh 0;
}

.bar1>h1 {
    font-size: 16.5vw;
    line-height: 31vw;
    color: #cdc6be;
    text-align: center;
    background-color: #1d1d1b;
}


/* cont */
div.ibx1.fbx {    
    width: 100%;
    height: 37vh;
    flex-direction: row;
    justify-content: space-around;
}

.bx1:nth-child(2){
    padding: 0 3vw;
    height: 37vh;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

.ibx1 .img {
    width: 25vw;
    height: 20vh;
    background: url(#) center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #000;
}

.ibx2.fbx>div {
    height: 110vh;
}

.ibx2.fbx>div:nth-child(1) {
    width: 35.5vw;
    padding-right: 3vw;
    border-right: 1px solid #666;
    /* outline: 1px solid red; */
}

.ibx2.fbx>div:nth-child(2) {
    width: 64.5vw;    
    /* outline: 1px solid blue; */
}

.ibx2.fbx>div>h2 {
    /* outline: 3px dotted #fff; */
}

.ibx2.fbx>div>h3 {
    /* outline: 3px dotted yellow; */
}

div.ibx2 .img1 {
    height: 24vw;
    outline: 3px solid yellow;
}

div.ibx2 .img2 {
    margin: 0 auto;
    height: 63.5vh;
    outline: 3px solid yellow;
}

div.bar2{
    padding: 3vh 0;
}

.bar.fbx {
    display: flex;
    justify-content: space-between;
}

div.bar2>h1{
    font-size: 11.7vw;
    line-height: 42vh;
    color: #cdc6be;
    text-align: center;
    background-color: #1d1d1b;
}

.bar2>div.img {
    width: 100%;
    height: 50vh;
    margin: 30px;
    outline: yellow solid 3px;
}

.bx2>h2 {
    font-size: 2vw;
    line-height: 1.5;
}

.left {
    width: 50%;
    height: 30vh;
}

.left.fbx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left>.img1 {
    width: 50%;
    height: 30vh;
    /* outline: 3px dotted yellow; */
}

.left>.img2 {

    width: 100%;
    height: 30vh;
    /* outline: 3px dotted yellow; */
}

.bx3 {
    font-size: 3vw;
    width: 50%;
    height: 30vh;
    /* outline: 3px dotted white; */
}


.bx4 {
    width: 10vw;
    height: 10vh;
    /* outline: 1px dotted white; */
}

.bx4 .img {
    width: 15vw;
    height: 15vh;
    outline: 3px dotted red;

}

.right {
    width: 50%;
    height: 100vh;
    padding-left: 3vw;
}

