@charset "utf-8";
@import url(./common.css);

#cont {
    height: 11111px;
}

body {
    background-color: #cdc6be;
}

/* top */
body header {
    margin: 0 0 2vw 0;
}

header {
    padding: 1.7vh;
    border-bottom: 1px solid #666;
}

h1 {
    margin-bottom: 3vh;
    font-size: 16vw;
    line-height: 24vw;
    color: #cdc6be;
    text-align: center;
    background-color: #1d1d1b;
}

header.fbx {
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}

/* cont */
div.ibx1.fbx {
    width: 100%;
    height: 37vh;
    flex-direction: row;
    justify-content: space-around;
}

.ibx1.fbx>div {
    margin-top: 0.5vh;
    margin-left: 1.5vw;
    width: 27vw;
    height: 34vh;
    border-right: 1px solid #666;
    outline: 3px dotted yellow;
}

.ibx1 .img {
    width: 25vw;
    height: 20vh;
    background: url(#) center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #000;
}

.ibx2.fbx>div {
    height: 200vh;
    background: url(#) center;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 1px solid #000; */
}

.ibx2.fbx>div:nth-child(1) {
    width: 35.5vw;
    outline: 1px solid red;
}

.ibx2.fbx>div:nth-child(2) {
    width: 64.5vw;
    outline: 1px solid blue;
}

.ibx2.fbx>div>h2 {
    font-size: 8vw;
    line-height: 10vw;
    /* outline: 3px dotted #fff; */
}

.ibx2.fbx>div>h3 {
    font-size: 10vw;
    line-height: 12vw;
    /* outline: 3px dotted yellow; */
}

div.ibx2.img1 {
    width: 33.5vw;
    height: 60vh;
    outline: 3px solid yellow;
}

div.ibx2.img2 {
    width: 61.5vw;
    height: 63.5vh;
    outline: 3px solid white;
}
