@charset "utf-8";
@import url(/pp/css/common.css);
/******************************** manu  ******************************* */

.back {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100px;
  height: 25px;
  text-align: center;
  background-color: #cdc6be;
  border-radius: 5%;
  cursor: pointer;
  z-index: 1;
}

body {
  background: url(/pp/img/mm.png);
}

#cont {
  width: 100%;
  height: 100vh;
}

.set {
  position: relative;
  margin:0 auto;
  width: 8%;
  height: 101px;
  font-size: 2vh;
  text-align: center;
  line-height: 3.5;

  cursor: pointer;
}

.cont {
  position: relative;
  width: 100%;
  height: 100%;
  outline : 3px dotted red;
}


.img {
  position: absolute;
  right: 0;
  width: 500px;
  height: 500px;
  background: url(/pp/iimgg/4.png) no-repeat 100%/100%;

  border-bottom: 1px solid #666;
}
.iimg {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 10%;
  left: 10%;
  background: url(/pp/iimgg/m.jpg) no-repeat 100%/100%;
}






